attrs==23.1.0
beautifulsoup4==4.12.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
contourpy==1.1.0
cryptography==41.0.3
cycler==0.11.0
Deprecated==1.2.14
fonttools==4.42.1
idna==3.4
kiwisolver==1.4.5
lxml==4.9.3
matplotlib==3.8.0
numpy==1.25.2
packaging==23.1
pandas==2.1.0
Pillow==10.0.1
pyarrow==13.0.0
pybaseball==2.2.7
pycparser==2.21
PyGithub==1.59.1
PyJWT==2.8.0
PyNaCl==1.5.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
scipy==1.11.2
six==1.16.0
soupsieve==2.5
tqdm==4.66.1
tzdata==2023.3
urllib3==2.0.4
wrapt==1.15.0
appnope==0.1.3
asttokens==2.4.1
attrs==23.1.0
backcall==0.2.0
beautifulsoup4==4.12.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
comm==0.1.4
contourpy==1.1.0
cryptography==41.0.3
cycler==0.11.0
debugpy==1.8.0
decorator==5.1.1
Deprecated==1.2.14
executing==2.0.0
fonttools==4.42.1
idna==3.4
ipykernel==6.26.0
ipython==8.16.1
jedi==0.19.1
joblib==1.3.2
jupyter_client==8.5.0
jupyter_core==5.4.0
kiwisolver==1.4.5
lxml==4.9.3
matplotlib==3.8.0
matplotlib-inline==0.1.6
nest-asyncio==1.5.8
numpy==1.25.2
packaging==23.1
pandas==2.1.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.1
platformdirs==3.11.0
prompt-toolkit==3.0.39
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==13.0.0
pybaseball==2.2.7
pycparser==2.21
PyGithub==1.59.1
Pygments==2.16.1
PyJWT==2.8.0
PyNaCl==1.5.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
pyzmq==25.1.1
requests==2.31.0
scikit-learn==1.3.2
scipy==1.11.2
six==1.16.0
soupsieve==2.5
stack-data==0.6.3
threadpoolctl==3.2.0
tornado==6.3.3
tqdm==4.66.1
traitlets==5.12.0
tzdata==2023.3
urllib3==2.0.4
wcwidth==0.2.8
wrapt==1.15.0
Requirement already satisfied: jupyter in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (1.0.0)
Requirement already satisfied: notebook in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from jupyter) (6.4.12)
Requirement already satisfied: nbconvert in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from jupyter) (6.4.4)
Requirement already satisfied: ipykernel in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from jupyter) (6.15.2)
Requirement already satisfied: qtconsole in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from jupyter) (5.3.2)
Requirement already satisfied: ipywidgets in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from jupyter) (7.6.5)
Requirement already satisfied: jupyter-console in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from jupyter) (6.4.3)
Requirement already satisfied: tornado>=6.1 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from ipykernel->jupyter) (6.1)
Requirement already satisfied: packaging in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from ipykernel->jupyter) (21.3)
Requirement already satisfied: ipython>=7.23.1 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from ipykernel->jupyter) (7.31.1)
Requirement already satisfied: traitlets>=5.1.0 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from ipykernel->jupyter) (5.1.1)
Requirement already satisfied: debugpy>=1.0 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from ipykernel->jupyter) (1.5.1)
Requirement already satisfied: appnope in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from ipykernel->jupyter) (0.1.2)
Requirement already satisfied: jupyter-client>=6.1.12 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from ipykernel->jupyter) (7.3.4)
Requirement already satisfied: nest-asyncio in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from ipykernel->jupyter) (1.5.5)
Requirement already satisfied: pyzmq>=17 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from ipykernel->jupyter) (23.2.0)
Requirement already satisfied: psutil in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from ipykernel->jupyter) (5.9.0)
Requirement already satisfied: matplotlib-inline>=0.1 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from ipykernel->jupyter) (0.1.6)
Requirement already satisfied: nbformat>=4.2.0 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets->jupyter) (5.5.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets->jupyter) (1.0.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets->jupyter) (3.5.2)
Requirement already satisfied: ipython-genutils~=0.2.0 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets->jupyter) (0.2.0)
Requirement already satisfied: pygments in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from jupyter-console->jupyter) (2.11.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from jupyter-console->jupyter) (3.0.20)
Requirement already satisfied: testpath in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from nbconvert->jupyter) (0.6.0)
Requirement already satisfied: jupyter-core in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from nbconvert->jupyter) (4.11.1)
Requirement already satisfied: bleach in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from nbconvert->jupyter) (4.1.0)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from nbconvert->jupyter) (0.5.13)
Requirement already satisfied: beautifulsoup4 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from nbconvert->jupyter) (4.11.1)
Requirement already satisfied: jinja2>=2.4 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from nbconvert->jupyter) (2.11.3)
Requirement already satisfied: entrypoints>=0.2.2 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from nbconvert->jupyter) (0.4)
Requirement already satisfied: defusedxml in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from nbconvert->jupyter) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from nbconvert->jupyter) (0.1.2)
Requirement already satisfied: mistune<2,>=0.8.1 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from nbconvert->jupyter) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from nbconvert->jupyter) (1.5.0)
Requirement already satisfied: argon2-cffi in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from notebook->jupyter) (21.3.0)
Requirement already satisfied: terminado>=0.8.3 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from notebook->jupyter) (0.13.1)
Requirement already satisfied: Send2Trash>=1.8.0 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from notebook->jupyter) (1.8.0)
Requirement already satisfied: prometheus-client in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from notebook->jupyter) (0.14.1)
Requirement already satisfied: qtpy>=2.0.1 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from qtconsole->jupyter) (2.2.0)
Requirement already satisfied: pickleshare in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from ipython>=7.23.1->ipykernel->jupyter) (0.7.5)
Requirement already satisfied: jedi>=0.16 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from ipython>=7.23.1->ipykernel->jupyter) (0.18.1)
Requirement already satisfied: backcall in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from ipython>=7.23.1->ipykernel->jupyter) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from ipython>=7.23.1->ipykernel->jupyter) (63.4.1)
Requirement already satisfied: pexpect>4.3 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from ipython>=7.23.1->ipykernel->jupyter) (4.8.0)
Requirement already satisfied: decorator in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from ipython>=7.23.1->ipykernel->jupyter) (5.1.1)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from jinja2>=2.4->nbconvert->jupyter) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from jupyter-client>=6.1.12->ipykernel->jupyter) (2.8.2)
Requirement already satisfied: jsonschema>=2.6 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from nbformat>=4.2.0->ipywidgets->jupyter) (4.16.0)
Requirement already satisfied: fastjsonschema in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from nbformat>=4.2.0->ipywidgets->jupyter) (2.16.2)
Requirement already satisfied: wcwidth in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->jupyter-console->jupyter) (0.2.5)
Requirement already satisfied: ptyprocess in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from terminado>=0.8.3->notebook->jupyter) (0.7.0)
Requirement already satisfied: argon2-cffi-bindings in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from argon2-cffi->notebook->jupyter) (21.2.0)
Requirement already satisfied: soupsieve>1.2 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from beautifulsoup4->nbconvert->jupyter) (2.3.1)
Requirement already satisfied: webencodings in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from bleach->nbconvert->jupyter) (0.5.1)
Requirement already satisfied: six>=1.9.0 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from bleach->nbconvert->jupyter) (1.16.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from packaging->ipykernel->jupyter) (3.0.9)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel->jupyter) (0.8.3)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets->jupyter) (0.18.0)
Requirement already satisfied: attrs>=17.4.0 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets->jupyter) (21.4.0)
Requirement already satisfied: cffi>=1.0.1 in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from argon2-cffi-bindings->argon2-cffi->notebook->jupyter) (1.15.1)
Requirement already satisfied: pycparser in /Users/mason_cotter/opt/anaconda3/lib/python3.9/site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook->jupyter) (2.21)
